<div class="filtros">
    <div class="row">
        <div class="col-md-3">
            <label for="regionFiltro">Region</label>
            <select [(ngModel)]="regionSeleccionada" class="form-control" id="regionFiltro" (change)="filtrar()">
                <option hidden value="null" disabled selected>
                    Select region client
                </option>
                <option [ngValue]="region" *ngFor="let region of regionesCliente">
                    {{ region.nombre }}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="modeloFiltro">Model Name</label>
            <select [(ngModel)]="modeloSeleccionado" class="form-control" id="modeloFiltro" (change)="filtrar()">
                <option hidden value="null" disabled selected>
                    Select model name
                </option>
                <option [ngValue]="modelo" *ngFor="let modelo of modelos">
                    {{ modelo.nombre }}
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="ccFiltro">Engine C.C</label>
            <select [(ngModel)]="motorSeleccionado" class="form-control" id="ccFiltro" (change)="filtrar()">
                <option hidden value="null" disabled selected>
                    Select Engine cc
                </option>
                <option [ngValue]="motor" *ngFor="let motor of motoresFiltro">
                    {{ motor.nombre }}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="ccFiltro">Failure Type</label>
            <select [(ngModel)]="tipoFallaSeleccionada" class="form-control" id="tipoFallaFiltro" (change)="filtrar()">
                <option hidden value="null" disabled selected>
                    Select Failure
                </option>
                <option [ngValue]="tipoFalla" *ngFor="let tipoFalla of tiposFalla">
                    {{ tipoFalla.nombre }}
                </option>
            </select>
        </div>
        <div class="col-md-1">
            <label>Clear</label>
            <button class="btn btn-secondary" (click)="limpiarFiltros()">Reset</button>
        </div>
    </div>

</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table-striped table-xl table-responsive-xl tabla-solicitudes">
    <caption class="caption-mis-solicitudes"></caption>
    <thead class="thead-tickets">
        <tr>
            <th class="none" id="id"><span style="display: none;">ID SharePoint</span></th>
            <th class="all" id="id" scope="col">Ticket</th>
            <th class="all" id="status">Status</th>
            <th class="all" id="region">Region</th>
            <th class="all" id="nombreCliente">Customer Full Name</th>
            <th class="all" id="emailCliente">Customer Email</th>
            <th class="all" id="asunto">Subject</th>
            <th class="all" id="numeroPi">PI Number</th>
            <th class="all" id="motorCC">Engine CC</th>
            <th class="all" id="fallo">Failure Type</th>
            <th class="all" id="modelo">Model Name</th>
            <th class="all" id="tiempo">Time</th>
            <th class="all" id="verTicket" scope="col"></th>
            <th class="none" id="fabrica">Factory</th>
            <th class="none" id="categoria-falla">Failure Category</th>
            <th class="none" id="fechaCreacion">Created</th>
            <th class="none" id="descripcionFalla">Failure Description</th>
            <th class="none" id="posibleSolucion">If you find a solution comment
                us</th>
            <th class="none" id="fechaResolucion">Resolved Date</th>
            <th class="none" id="tiempoRespuesta">Response time in days</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitud of solicitudes">
            <th scope="row"><span style="display: none;">{{solicitud.id}}</span></th>
            <th scope="row">{{solicitud.ticket}}</th>
            <th scope="row">{{solicitud.estado}}</th>
            <th scope="row">{{solicitud.region?.nombre}}</th>
            <th scope="row">{{solicitud.nombreCliente}} {{solicitud.apellidoCliente}}</th>
            <th scope="row">{{solicitud.emailCliente}}</th>
            <th scope="row">{{solicitud.asunto}}</th>
            <th scope="row">{{solicitud.numeroPi}}</th>
            <th scope="row">{{solicitud.motorCC}}</th>
            <th scope="row">{{solicitud.fallo?.nombre}}</th>
            <th scope="row">{{solicitud.modelo?.nombre}}</th>
            <th scope="row">
                <ng-container *ngIf="solicitud.estado !== estadoResuelto">{{solicitud.tiempoProceso}}</ng-container>
            </th>
            <th scope="row">
                <a tooltip="View ticket" class="icon text-white accion-solicitud"><em class="fas fa-eye"
                        routerLink="/quality-tickets/manage-ticket/{{solicitud.id}}" routerLinkActive="active"></em></a>
            </th>
            <th scope="row">{{solicitud.fabrica?.nombre}}</th>
            <th scope="row">{{solicitud.categoriaFalla?.nombre}}</th>
            <th scope="row">{{solicitud.fechaCreacion | date: 'dd/MM/yyyy'}}</th>
            <th scope="row">{{solicitud.descripcionFalla}}</th>
            <th scope="row">{{solicitud.posibleSolucion}}</th>
            <th scope="row">{{solicitud.fechaResuelto | date: 'dd/MM/yyyy'}}</th>
            <th scope="row">
                <ng-container *ngIf="solicitud.estado === estadoResuelto">{{solicitud.tiempoProceso}}</ng-container>
            </th>
        </tr>
    </tbody>
</table>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>