<div class="row">
  <div class="col-lg-12 zona-botones">
    <button *ngIf="mostrarAsignarPostVentas" type="button" class="btn btn-secondary cancelar botonera"
      (click)="asignarPostVentas()">
      Assign after sales
    </button>
    <button type="button" class="btn btn-secondary cancelar botonera" (click)="mostrarBitacora()">
      Tracing
    </button>
    <span *ngIf="usuarioActual?.esAdministrador" class="round" (click)="enviarComentario()"><img
        src="/assets/images/icon-image.png" alt="user" width="50"></span>
  </div>
</div>
<tabset [justified]="true" *ngIf="ticket">
  <tab heading="Ticket detail" id="tab-tickect-detail">
    <app-ver-ticket></app-ver-ticket>
  </tab>
  <tab heading="Review and approval" id="tab-review-approval" *ngIf="mostrarRevisionAprobacion">
    <app-revision-aprobacion [ticket]="ticket" [usuarioActual]="usuarioActual" [emailsTemplate]="emailsTemplate">
    </app-revision-aprobacion>
  </tab>
  <tab heading="Supplier feedback" id="tab-supplier-feedback" *ngIf="mostrarFeedbackProveedores">
    <app-feedback-proveedores [ticket]="ticket" [usuarioActual]="usuarioActual" [emailsTemplate]="emailsTemplate">
    </app-feedback-proveedores>
  </tab>
  <tab heading="Solution" id="tab-solution" *ngIf="mostrarSolucion">
    <app-solucion [ticket]="ticket" [usuarioActual]="usuarioActual" [emailsTemplate]="emailsTemplate"></app-solucion>
  </tab>
</tabset>