<div class="row">
  <div class="col-lg-12 zona-botones">
    <span class="round" (click)="mostrarBitacora()"><img src="assets/images/icon-image.png" alt="user"
        width="50"></span>
  </div>
</div>
<div class="col-lg-12 mb-5">
  <div class="card">
    <div class="card-header">
      <h3 class="h6 text-uppercase mb-0">Tracing ticket</h3>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{avance}}" aria-valuemin="0" aria-valuemax="100"
        [style.width.%]="avance">
        {{avance}}%
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <fieldset class="col-12 col-lg-12 px-3">
          <legend>Order information</legend>
          <div class="row">
            <div class="col-lg-4">
              <label for="orden" class="form-control-label text-uppercase">Order</label><br>
              <span>{{ticket?.orden}}</span>
            </div>
            <div class="col-lg-4">
              <label for="pais" class="form-control-label text-uppercase">Country</label><br>
              <span>{{ticket?.pais}}</span>
            </div>
            <div class="col-lg-4">
              <label for="fecha" class="form-control-label text-uppercase">Date</label><br>
              <span>{{ticket?.fecha | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </fieldset>
      </div>
      <br>
      <div *ngIf="mostrarDocumentosIniciales">
        <div class="row" *ngIf="documentosCargadosIniciales.length > 0">
          <fieldset class="col-12 col-lg">
            <legend>Attached Files {{actividad.actividad}}</legend>
            <ng-container>
              <div class="row">
                <div class="col-lg-3" *ngFor="let documentoCargadoInicial of documentosCargadosIniciales">
                  <a href="{{documentoCargadoInicial.documento.url}}" download
                    tooltip="{{documentoCargadoInicial.documento.nombre}}">
                    <img src="{{obtenerIconoDocumentoPorNombreIniciales(documentoCargadoInicial.documento.nombre)}}"
                      alt="document">
                    <span>{{documentoCargadoInicial.documento.nombre}}</span>
                  </a>
                  <span *ngIf="mostrarEdicionDocumentosIniciales" class="fas fa-trash"
                    style="margin:6px; cursor: pointer;" (click)="borrarDocumento(documentoCargadoInicial)"></span>
                </div>
              </div>
            </ng-container>
          </fieldset>
        </div>

        <div class="row" *ngIf="mostrarEdicionDocumentosIniciales">
          <fieldset class="col-12 col-lg">
            <legend>Attach documents {{actividad.actividad}}</legend>
            <p>Attch Pdf, Excel or Image files</p>
            <div class="row">
              <div class="col-lg-12">
                <label for="adjuntoCliente" class="btn btn-primary btn-file btn-block">Upload documents<input
                    type="file" id="adjuntoCliente" name="adjuntoCliente" formControlName="adjuntoCliente"
                    (change)="subirAdjuntosClienteIniciales($event)" style="display: none"
                    accept="application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, image/png, image/gif, image/jpeg"
                    multiple></label>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3" *ngFor="let documentoInicial of documentosIniciales">
                <img src="{{obtenerIconoDocumentoIniciales(documentoInicial)}}" alt="document">
                <span>{{documentoInicial.nombre}}</span>
              </div>
            </div>
            <div class="line"></div>
            <div class="col-lg-12 zona-botones">
              <button class="btn btn-success um-success botonera" (click)="reenviarTicket()">
                Send
              </button>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row" *ngIf="mostrarAsignacionResponsables">
        <fieldset class="col-12 col-lg-12 px3">
          <legend>Assign Responsables</legend>
          <app-assing-responsable [ticket]="ticket" [usuarioActual]="usuarioActual"
            [emailsTemplate]="emailsTemplate"></app-assing-responsable>
        </fieldset>
      </div>

      <br>
      <div class="zona-documentos row" *ngIf="mostrarZonaDocumentos">
        <div class="line"></div>
        <fieldset class="col-12 col-lg-12 px3">
          <legend>My activities</legend>
          <accordion [isAnimated]="true" [closeOthers]="false" style="margin-top:5px;">
            <accordion-group [isOpen]="open" *ngFor="let actividad of misActividades; let i = index;" #groupval
              class="{{obtenerEstadoTab(actividad)}}" style="margin-top:5px;">
              <div accordion-heading style="width:100%;">
                {{actividad.actividad}}
                <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'glyphicon-chevron-down': groupval?.isOpen, 'glyphicon-chevron-up': !groupval?.isOpen}"></i>
              </div>
              <app-cargar-documentos id="{{i}}" [ticket]="ticket" [id]="i" [usuarioActual]="usuarioActual"
                [comentariosAprobacion]="comentariosAprobacion" [emailsTemplate]="emailsTemplate"
                [actividad]="actividad"></app-cargar-documentos>
            </accordion-group>
          </accordion>
        </fieldset>
        <br>
        <div class="line"></div>
        <fieldset class="col-12 col-lg-12 px3" *ngIf="usuarioActual.esAdministrador || usuarioActual.esMarketing || usuarioActual.esComercial">
          <legend>Activities</legend>
          <accordion [closeOthers]="true" style="margin-top:5px;">
            <accordion-group *ngFor="let actividad of actividades; let i = index;" #groupval style="margin-top:5px;">
              <div accordion-heading style="width:100%;">
                {{actividad.actividad}}
                <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'glyphicon-chevron-down': groupval?.isOpen, 'glyphicon-chevron-up': !groupval?.isOpen}"></i>
              </div>
              <app-cargar-documentos id="{{i}}" [ticket]="ticket" [id]="i" [usuarioActual]="usuarioActual"
                [comentariosAprobacion]="comentariosAprobacion" [emailsTemplate]="emailsTemplate"
                [actividad]="actividad"></app-cargar-documentos>
            </accordion-group>
          </accordion>
        </fieldset>

      </div>
      <div class="line"></div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>