<div class="row" *ngIf="documentosCargados.length > 0">
  <fieldset class="col-12 col-lg">
    <legend>Attached Files {{actividad.actividad}}</legend>
    <ng-container>
      <div class="row">
        <div class="col-lg-3" *ngFor="let documento of documentosCargados">
          <a href="{{documento.documento.url}}" download tooltip="{{documento.documento.nombre}}">
            <img src="{{obtenerIconoDocumentoPorNombre(documento.documento.nombre)}}" alt="document">
            <span>{{documento.documento.nombre}}</span>
          </a>
          <span *ngIf="!mostrarBotonAprobar && mostrarEditarDocumentos" class="fas fa-trash"
            style="margin:6px; cursor: pointer;" (click)="borrarDocumento(documento)"></span>
        </div>
      </div>
    </ng-container>
  </fieldset>
</div>

<div class="row" *ngIf="mostrarEditarDocumentos">
  <fieldset class="col-12 col-lg">
    <legend>Attach documents {{actividad.actividad}}</legend>
    <p>Attch Pdf, Excel or Image files</p>
    <div class="row">
      <div class="col-lg-12">
        <label class="btn btn-primary btn-file btn-block">Upload documents<input type="file" id="adjuntoCliente"
            (change)="subirAdjuntosCliente($event)" style="display: none"
            accept="application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, image/png, image/gif, image/jpeg"
            multiple></label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3" *ngFor="let documento of documentos">
        <img src="{{obtenerIconoDocumento(documento)}}" alt="document">
        <span>{{documento.nombre}}</span>
      </div>
    </div>
    <div class="line"></div>
  </fieldset>
</div>
<div class="row" *ngIf="mostrarComentario">
  <div class="col-lg-12">
    <textarea autosize name="comentario" id="comentario" class="form-control" rows="3"
      placeholder="Please write a comment ..." style="resize: none" [(ngModel)]="comentario"
      [ngClass]="{ 'is-invalid': submitted && comentario.length === 0}"></textarea>
    <div *ngIf="submitted && comentario.length === 0" class="invalid-feedback">
      This field is required
    </div>
  </div>
</div>
<div class="row" *ngIf="comentariosActividad.length > 0">
  <div class="col-md-12">
    <div class="card">
      <div class="comment-widgets m-b-20">
        <div class="d-flex flex-row comment-row" *ngFor="let comentario of comentariosActividad">
          <div class="p-2"><span class="round"><img src="/assets/images/user-comment.png" alt="user" width="50"></span>
          </div>
          <div class="comment-text w-100">
            <h5>{{comentario?.autor}}</h5>
            <div class="comment-footer"> <span class="date">{{ comentario?.fechaCreacion |
                date:'medium' }}</span>
            </div>
            <p class="m-b-5 m-t-10">{{comentario?.valor}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>
<div class="col-lg-12 zona-botones">
  <button *ngIf="mostrarBotonAprobar" type="button" class="btn btn-secondary cancelar botonera" (click)="reject()">
    Reject
  </button>
  <button *ngIf="mostrarBotonAprobar" class="btn btn-success um-success botonera" (click)="aprobar()">
    Approve
  </button>
  <button *ngIf="!mostrarBotonAprobar && mostrarEditarDocumentos" class="btn btn-success um-success botonera"
    (click)="enviar()">
    Send
  </button>
</div>