<div class="col-lg-12 mb-5">
  <div class="card">
    <div class="card-header">
      <h3 class="h6 text-uppercase mb-0"> Supplier feedback</h3>
    </div>
    <div class="card-body">
      <p>Add each supplier document received to solve/close this ticket</p>
      <form *ngIf="formularioFeedbackProveedores" [formGroup]="formularioFeedbackProveedores"
        (ngSubmit)="onSubmitSend()">
        <div class="form-group row">
          <fieldset class="col-12 col-lg-12 px-3">
            <legend>
              Documents
              <span *ngIf="habilitado" class="fas fa-plus-circle" (click)="agregarDocumento()"
                tooltip="Add new document"></span>
            </legend>
            <ng-container *ngFor="let documento of documentosSoporte">
              <div class="documento-proveedor">
                <app-documento-proveedor [documentoSoporte]="documento" [tiposDocumentos]="tiposDocumentos"
                  [cantidadDocumentos]="documentosSoporte.length" [submitted]="submitted" [habilitado]="habilitado"
                  (formReady)="agregarControlDocumento($event)" (borrar)="borrarDocumento($event)">
                </app-documento-proveedor>
              </div>
              <br />
            </ng-container>
          </fieldset>
        </div>
        <div class="line"></div>
        <div class="row" *ngIf="habilitado">
          <div class="col-lg-12 zona-botones">
            <button type="button" class="btn btn-secondary cancelar botonera" (click)="cancel()">
              Cancel
            </button>
            <button type="submit" class="btn btn-success um-success botonera">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>