<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/tracing-tickets/home"
        routerLinkActive="active">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
          <img alt="logo" src="/assets/images/logo.png" />
        </div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/tracing-tickets/home" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>TRACING TICKETS</span></a>
      </li>


      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        SYSTEM
      </div>

      <li *ngIf="usuarioActual?.esAdministrador" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Administration</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/_layouts/15/people.aspx?MembershipGroupId=25"
            target="_blank">Marketing Users
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/_layouts/15/people.aspx?MembershipGroupId=24"
            target="_blank">Commercial Users
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/_layouts/15/people.aspx?MembershipGroupId=26"
            target="_blank">Support and Logistic Users
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/_layouts/15/people.aspx?MembershipGroupId=27"
            target="_blank">Quality Assurance Users
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/_layouts/15/people.aspx?MembershipGroupId=23"
            target="_blank">Administrator Users
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/Documents1/Forms/AllItems.aspx"
            target="_blank">Documments Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/UserManuals/Forms/AllItems.aspx"
            target="_blank">User Manuals Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/VinList/Forms/AllItems.aspx"
            target="_blank">Vin List Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/VinDescription/Forms/AllItems.aspx"
            target="_blank">Vin Description Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/SparePartsLabeling/Forms/AllItems.aspx"
            target="_blank">Spare Parts Labeling Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/QualityReport/Forms/AllItems.aspx"
            target="_blank">Quality Report Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/ShippingDocuments/Forms/AllItems.aspx"
            target="_blank">Shipping Documents Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/PDIManuals/Forms/AllItems.aspx"
            target="_blank">PDI Manuals Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/ServiceManuals/Forms/AllItems.aspx"
            target="_blank">Service Manuals Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/Homologation/Forms/AllItems.aspx"
            target="_blank">Homologation Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/TechnicalSpecification/Forms/AllItems.aspx"
            target="_blank">Technical Specification Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/Photographs/Forms/AllItems.aspx"
            target="_blank">Photographs Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/PartsBook/Forms/AllItems.aspx"
            target="_blank">Parts Book Library
          </a>
          <a class="collapse-item"
            href="https://ummotorcycles.sharepoint.com/sites/um-tracking-orders/Lists/TracingTickets/AllItems.aspx"
            target="_blank">Tracing tickets List
          </a>
          <a class="collapse-item" routerLink="/tracing-tickets/all-requests" routerLinkActive="active">All tickets
          </a>
          </div>
        </div>
      </li>

      <li *ngIf="usuarioActual?.esMarketing" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Marketing</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/tracing-tickets/marketing-tickets" routerLinkActive="active">My
              tickets</a>
          </div>
        </div>
      </li>

      <li *ngIf="usuarioActual?.esComercial" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
          aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Commercial</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/tracing-tickets/comercial-tickets" routerLinkActive="active">My
              tickets</a>
              <a class="collapse-item" routerLink="/tracing-tickets/create-request" routerLinkActive="active">Create ticket</a>
          </div>
        </div>
      </li>

      <li *ngIf="usuarioActual?.esSoporteLogistica" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2"
          aria-expanded="true" aria-controls="collapseUtilities2">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Support and Logistic</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/tracing-tickets/support-tickets" routerLinkActive="active">My
              tickets</a>
          </div>
        </div>
      </li>

      <li *ngIf="usuarioActual?.esCalidad" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities3"
          aria-expanded="true" aria-controls="collapseUtilities3">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Quality Assurance</span>
        </a>
        <div id="collapseUtilities3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/tracing-tickets/quality-tickets" routerLinkActive="active">My
              tickets</a>
          </div>
        </div>
      </li>

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombreUsuario}}</span>
                <img alt="" class="img-profile rounded-circle" src="/assets/images/undraw_profile.svg">
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="javascript:void(0)" (click)="salir()" data-toggle="modal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="container-fluid">
          <div class="contenido-principal">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <footer class="sticky-footer bg-white">
      </footer>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>