<form [formGroup]="parteForm">
  <div class="form-group row">
    <div class="col-lg-1 index-number">
      <span class="indice">{{parte.indice}}</span>
    </div>
    <div class="col-lg-8">
      <label for="numeroParte" class="form-control-label text-uppercase">Part Number</label>
      <input type="text" id="numeroParte" name="numeroParte" formControlName="numeroParte" class="form-control"
        [(ngModel)]="parte.codigo" [ngClass]="{ 'is-invalid': submitted && f.numeroParte.errors }"
        tooltip="{{ayudasContextuales[10]?.textoAyuda}}" maxlength="50">
      <div *ngIf="submitted && f.numeroParte.errors" class="invalid-feedback">
        <div *ngIf="f.numeroParte.errors.required">This field is required
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <label for="cantidad" class="form-control-label text-uppercase">Quantity</label>
      <input type="number" id="cantidad" name="cantidad" formControlName="cantidad" class="form-control"
        [(ngModel)]="parte.cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }"
        tooltip="{{ayudasContextuales[11]?.textoAyuda}}">
      <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
        <div *ngIf="f.cantidad.errors.required">This field is required
        </div>
        <div *ngIf="f.cantidad.errors?.min">
          Minimum required number is 0.
        </div>
        <div *ngIf="f.cantidad.errors?.max">
          Maximum number can be 999.
        </div>
      </div>
    </div>
    <div class="col-lg-1 recycle-bin">
      <span class="fas fa-trash-alt" *ngIf="cantidadPartes > 1 && cantidadPartes === parte.indice"
        (click)="eliminar()"></span>
    </div>
  </div>
</form>