<div class="modal-header">
  <h4 class="modal-title pull-left">Send comment</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form *ngIf="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-lg-12">
        <textarea autosize name="comentario" id="comentario" formControlName="comentario" class="form-control" rows="3"
          placeholder="Please write a comment ..." style="resize: none"
          [ngClass]="{ 'is-invalid': submitted && f.comentario.errors}"></textarea>
        <div *ngIf="submitted && f.comentario.errors" class="invalid-feedback">
          <div *ngIf="f.comentario.errors.required">
            This field is required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary botonera" (click)="cerrarModal()">Cancel</button>
    <button type="submit" class="btn btn-primary botonera">Save</button>
  </div>
</form>