<p>Vins code that are in more than one ticket</p>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
  class="table-striped table-xl table-responsive-xl tabla-solicitudes">
  <caption class="caption-mis-solicitudes"></caption>
  <thead class="thead-tickets">
    <tr>
      <th class="all" id="vin">VIN</th>
      <th class="all" id="quantity">Quantity Tickets</th>
      <th class="all" id="verTicket" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vin of vinsRepetidos">
      <th scope="row" style="text-align: center;">{{vin.vin}}</th>
      <th scope="row" style="text-align: center;">{{vin.tickets.length}}</th>
      <th scope="row" style="text-align: center;">
        <em class="fas fa-eye" (click)="mostrarTickets(vin)"></em>
      </th>
    </tr>
  </tbody>
</table>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>