<div class="col-lg-12 mb-5">
  <div class="card">
    <div class="card-header">
      <h3 class="h6 text-uppercase mb-0">Tracing ticket</h3>
    </div>
    <div class="card-body">
      <p>Tracing ticket creation form</p>
      <form *ngIf="formularioCreacionTicket" [formGroup]="formularioCreacionTicket" (ngSubmit)="onSubmitCrearTicket()">
        <div class="form-group row">
          <fieldset class="col-12 col-lg-12 px-3">
            <legend>Order information</legend>
            <div class="form-group row">
              <div class="col-lg-4">
                <label for="orden" class="form-control-label text-uppercase">Order</label>
                <input type="text" id="orden" name="orden" formControlName="orden"
                  class="form-control" [ngClass]="{
                    'is-invalid': submitted && f.orden.errors
                  }" maxlength="255" />
                <div *ngIf="submitted && f.orden.errors" class="invalid-feedback">
                  <div *ngIf="f.orden.errors.required">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label for="pais" class="form-control-label text-uppercase">Country</label>
                <input type="text" id="pais" name="pais" formControlName="pais"
                  class="form-control" [ngClass]="{
                    'is-invalid': submitted && f.pais.errors
                  }" maxlength="255" />
                <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
                  <div *ngIf="f.pais.errors.required">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label for="fecha" class="form-control-label text-uppercase">Date</label>
                <input placeholder="dd/mm/aaaa" formControlName="fecha" id="fecha" name="fecha"
                  type="text" autocomplete="off" class="form-control fecha-solicitud" #dp="bsDatepicker"
                  [bsConfig]="calendarioConfiguracion" bsDatepicker
                  [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }" />
                <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                  <div *ngIf="f.fecha.errors.required">This field is required</div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-group row">
          <fieldset class="col-12 col-lg">
            <legend>Attach documents</legend>
            <p>Attch Pdf, Excel or Image files</p>
            <div class="form-group row">
              <div class="col-lg-12">
                <label for="adjuntoCliente" class="btn btn-primary btn-file btn-block">Upload documents<input type="file"
                  id="adjuntoCliente" name="adjuntoCliente" formControlName="adjuntoCliente"
                  (change)="subirAdjuntosCliente($event)" style="display: none"
                  accept="application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, image/png, image/gif, image/jpeg"
                  multiple></label>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <div class="col-lg-3" *ngFor="let documento of documentos">
                <img src="{{obtenerIconoDocumento(documento)}}" alt="document">
                <span>{{documento.nombre}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3" *ngFor="let imagen of imagenes">
                <img alt="" width="110" height="110" class="img-rounded img-responsive hidden-xs" src="{{ imagen }}" />
              </div>
              <div *ngIf="submitted && (imagenes.length === 0 || documentos.length === 0)">
                <div class="invalid-images">You must upload at least one attachment</div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="line"></div>
        <div class="row">
          <div class="col-lg-12 zona-botones">
            <button type="button" class="btn btn-secondary cancelar botonera" (click)="cancelar()">
              Cancel
            </button>
            <button type="submit" class="btn btn-success um-success botonera">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Processing...</p>
</ngx-spinner>